<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Bay</title>
</head>
<body style="font-family: Trebuchet MS;background-color: #F1B8C4;">
<div class="container-fluid" >
    <h1 class="text-center">Hello, Apa kabar?</h1>
    <h4 class="text-center">Tell me how is your day!</h4>
    <div class = "text-center">
        <button class='btn btn-default'>
            <a href={% url 'profile' %}> MyProfile</a>
        </button>
    </div>

    <section class="" name="form">
        <form id="form" method="POST" action="/add">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-default" type="submit"">Add</button>
        </form>

        <form id="form1" method="DELETE" action="/delete">
            <button class="btn btn-default" type="submit">Delete</button>
        </form>

    </section>

    <table class="table" >
            <thead>
                <th scope="col">Status</th>
                <th scope="col">Waktu</th>
                
            </thead>
            <tbody>
                {% for i in all %}
                <tr>
                    <td scope="col"> {{i.status}} </td>
                    <td scope="col"> {{i.waktu}} </td>
                    
        
                </tr>
                    
                {% endfor %}
            </tbody>
        </table>
</div>
</body>
</html>